<!-- <app-spinner *ngIf="isLoading"></app-spinner> -->
<div class="container-fluid mainDiv mt-4">

    <div class="container">

        <h3>
            <span class="mt-2 badge bg-success">Main Skills</span>
        </h3>
        
        <div class="row scrollmenu">
            <div class="col text-white">
                <img class="helpIcons ms-3" src="assets/angularIcon.png" alt="angular icon">
                <br>
                <h5>
                    <span class="badge bg-dark">Angular</span>
                </h5>
            </div>
            <div class="col">
                <img class="helpIcons ms-4" src="assets/bootstrapIcon.png" alt="angular icon">
                <br>
                <h5>
                    <span class="badge bg-dark helperTextIcons">Bootstrap</span>
                </h5>
            </div>
            <div class="col">
                <img class="helpIcons ms-4" src="assets/jiraIcon.png" alt="angular icon">
                <br>
                <h5>
                    <span class="badge bg-dark helperTextIcons">Jira</span>
                </h5>
            </div>
            <div class="col">
                <img class="helpIcons ms-4" src="assets/kanbanIcon.jpg" alt="angular icon">
                <br>
                <h5>
                    <span class="badge bg-dark helperTextIcons">Kanban</span>
                </h5>
            </div>
            <div class="col">
                <img class="helpIcons ms-4" src="assets/manualTestingIcon.png" alt="angular icon">
                <br>
                <h5>
                    <span class="badge bg-dark helperTextIcons">Manual Testing</span>
                </h5>
            </div>
        </div>
    </div>


    <div class="container">
        <h3>
            <span class="mt-2 badge bg-warning">Future Skills</span>
        </h3>
        <div class="row scrollmenu ">

            <div class="col text-white">
                <img class="helpIcons ms-3" src="assets/springbootIcon.png" alt="angular icon">
                <br>
                <h5>
                    <span class="badge bg-dark helperTextIcons">Spring Boot</span>
                </h5>
            </div>
            <div class="col text-white">
                <img class="helpIcons ms-3" src="assets/javaIcon.png" alt="angular icon">
                <br>
                <h5>
                    <span class="badge bg-dark helperTextIcons">Java</span>
                </h5>
            </div>
            <div class="col text-white">
                <img class="helpIcons ms-3" src="assets/mysqlIcon.png" alt="angular icon">
                <br>
                <h5>
                    <span class="badge bg-dark helperTextIcons">MySQL</span>
                </h5>
            </div>
            <div class="col text-white">
                <img class="helpIcons ms-3" src="assets/mongoDBIcon.png" alt="angular icon">
                <br>
                <h5>
                    <span class="badge bg-dark helperTextIcons">MongoDB</span>
                </h5>
            </div>
            <div class="col text-white">
                <img class="helpIcons ms-3" src="assets/cypressIcon.png" alt="angular icon">
                <br>
                <h5>
                    <span class="badge bg-dark helperTextIcons">Cypress</span>
                </h5>
            </div>
            <div class="col text-white">
                <img class="helpIcons ms-3" src="assets/unrealIcon.png" alt="angular icon">
                <br>
                <h5>
                    <span class="badge bg-dark helperTextIcons">Unreal Engine</span>
                </h5>
            </div>
            <div class="col text-white">
                <img class="helpIcons ms-3" src="assets/kaliIcon.jpg" alt="angular icon">
                <br>
                <h5>
                    <span class="badge bg-dark helperTextIcons">Kali Linux</span>
                </h5>
            </div>

        </div>
    </div>

    <div class="container">

        <h3>
            <span class="mt-2 badge bg-info">Projetos</span>
        </h3>

        <div>
            <table class="table text-white">
                <thead>
                  <tr>
                    <th scope="col">Linguagem</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Link</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of tabelaDeProjetos">
                  <tr>
                    <td>{{ item.linguagem }}</td>
                    <td>{{ item.nome }}</td>
                    <td>
                        <a href={{item.link}} style="width: 10%;" target="_blank">
                            {{ item.link | shorten: 10 }}
                        </a>
                    </td>
                  </tr>
                </tbody> 
              </table>
        </div>
    </div>

</div>