<div class="container-fluid aboutMeHelper">

    <br>
    <h3 *ngIf="getLanguageValue">Certificado de Linguagens</h3>
    <h3 *ngIf="!getLanguageValue">Language Certificate</h3>
    <hr>
    <table class="table text-white table-hover">
        <thead class="table-dark">
            <tr>
                <th *ngIf="getLanguageValue" scope="col">
                    <i class="bi bi-archive"></i>
                    Projeto
                </th>
                <th *ngIf="!getLanguageValue" scope="col">
                    <i class="bi bi-archive"></i>
                    Project
                </th>
                <th scope="col">
                    <i class="bi bi-link"></i>
                    Link
                </th>
            </tr>
        </thead>
        <tbody class="table-bg">
            <tr>
                <td>
                    Employee Management System
                </td>
                <td>
                    <a href="https://github.com/AlexandreBez/Projetos/tree/main/EmployeeManagementSystem/angular-frontend/src" target="_blank">
                        <i class="bi bi-github"></i>
                        Github 
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Student Management System
                </td>
                <td>
                    <a href="https://github.com/AlexandreBez/Projetos/tree/main/StudentManagementSystem" target="_blank">
                        <i class="bi bi-github"></i>
                        Github 
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Lista de Prioridades
                </td>
                <td>
                    <a href="https://github.com/AlexandreBez/Projetos/tree/main/ListaDePrioridades" target="_blank">
                        <i class="bi bi-github"></i>
                        Github 
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    SkysCommerce
                </td>
                <td>
                    <a href="https://github.com/AlexandreBez/Projetos/tree/main/SkysComerce" target="_blank">
                        <i class="bi bi-github"></i>
                        Github
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Login Screen
                </td>
                <td>
                    <a href="https://github.com/AlexandreBez/Projetos/tree/main/TelaDeLogin" target="_blank">
                        <i class="bi bi-github"></i>
                        Github
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Calculator
                </td>
                <td>
                    <a href="https://github.com/AlexandreBez/Projetos/tree/main/calculator-app" target="_blank">
                        <i class="bi bi-github"></i>
                        Github
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    My task list
                </td>
                <td>
                    <a href="https://github.com/AlexandreBez/Projetos/tree/main/my-task-list" target="_blank">
                        <i class="bi bi-github"></i>
                        Github
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Petition page
                </td>
                <td>
                    <a href="https://github.com/AlexandreBez/Projetos/tree/main/petition-page" target="_blank">
                        <i class="bi bi-github"></i>
                        Github
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
</div>