<div class="container aboutMeHelper mt-4">
    <br>
    <h4 *ngIf="getLanguageValue">Meus Certificatdos</h4>
    <h4 *ngIf="!getLanguageValue">My Certificates</h4>
    <hr>
    <div class="scroll-container">
        <div class="list-group" id="list-group-courses">
            <a href="https://drive.google.com/file/d/1GbFAT1tJy3i6t3O8QWBqQblSVwBYyLmh/view?usp=share_link"
                class="list-group-item list-group-item-action bgMyColor" target="_blank">
                Análise e Desenvolvimento de Sistemas
            </a>
            <a href="https://interstate21.com/certificate/?code=4A14O5X"
                class="list-group-item list-group-item-action bgMyColor" target="_blank">
                Certified Junior Angular Developer
            </a>
            <a href="https://www.udemy.com/certificate/UC-03900c1f-22e2-445f-839e-8430a369da3a"
                class="list-group-item list-group-item-action bgMyColor" target="_blank">
                Angular the complete guide - (2023 guide)
            </a>
            <a href="https://www.udemy.com/certificate/UC-9c5ee59c-8cce-4dbc-92ed-51893848a7e8/"
                class="list-group-item list-group-item-action bgMyColor" target="_blank">
                Angular 9 + Spring Boot 2.2
            </a>
            <a href="https://www.udemy.com/certificate/UC-8e9104c6-65c6-4838-9968-787fb941e6d0/"
                class="list-group-item list-group-item-action bgMyColor" target="_blank">
                Spring Boot, MVC com Spring Security
            </a>
            <a href="https://www.udemy.com/certificate/UC-48c6465c-14df-4c7d-bb36-c1d9cc4f35ca/"
                class="list-group-item list-group-item-action bgMyColor" target="_blank">
                Spring and Hibernate
            </a>
            <a href="https://www.udemy.com/certificate/UC-0f807c16-bc83-49d9-9b33-176c1d4cc1ed/"
                class="list-group-item list-group-item-action bgMyColor" target="_blank">
                Java Completo
            </a>
            <a href="https://www.udemy.com/certificate/UC-aeb3fa2b-2dcd-44a2-b55a-c65b4c41f51f/"
                class="list-group-item list-group-item-action bgMyColor" target="_blank">
                BootStrap 5
            </a>
            <a href="https://www.udemy.com/certificate/UC-ec3e1fbb-c02a-4981-bf44-53ca3a24de2d/"
                class="list-group-item list-group-item-action bgMyColor" target="_blank">
                Git e GitHub
            </a>
            <a href="https://www.udemy.com/certificate/UC-bab36b4d-c6a3-4b3b-8227-d46508b72d9f/"
                class="list-group-item list-group-item-action bgMyColor" target="_blank">
                Web Design Completo
            </a>
            <a href="https://solyd.com.br/verificar/SWRJzWOTra/"
                class="list-group-item list-group-item-action bgMyColor" target="_blank">
                Hacking e Pentest
            </a>
            <a href="https://www.udemy.com/certificate/UC-d4ccb343-565f-4705-8cfc-c23059678c77/"
                class="list-group-item list-group-item-action bgMyColor" target="_blank">
                Terminal Linux
            </a>
            <a href="https://www.udemy.com/certificate/UC-3b401c57-df64-48a5-b3b8-9701bf34429b/"
                class="list-group-item list-group-item-action bgMyColor" target="_blank">
                Arquitetura de Redes
            </a>
        </div>
    </div>
    <br>
</div>