<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="assets/myImage.jpg" style="border-radius: 50px;" alt="my image" width="70" height="70"
        class="d-inline-block align-text-top">
    </a>
    <h4 class="text-white">Lucas Alexandre Bez Piancoski</h4>

    <button class="navbar-toggler btn-outline-success" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fa-solid fa-bars-progress mt-1"></i>
      </span>
    </button>

    <div class="collapse navbar-collapse" style="margin-right: 10%;" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="Home">
            <i class="fa-solid fa-house"></i>
            Home
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="SobreMin">
            <i class="fa-solid fa-user-secret"></i>
            Sobre min
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="MeusSkills">
            <i class="fa-solid fa-laptop-code"></i>
            Meus Skills
          </a>
        </li>
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-link"></i>
            Links
          </button>
          <ul class="dropdown-menu" style="background-color: white;" aria-labelledby="dropdownMenuButton1">
            <li>
              <a style="text-decoration: none;" class="text-dark" href="https://www.linkedin.com/in/lucasalexandrebezpiancoski/" target="_blank" role="button">
                <i class="fa-brands fa-linkedin"></i>
                Linkedin
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a style="text-decoration: none;" class="text-dark" href="https://github.com/AlexandreBez?tab=repositories" target="_blank" role="button">
                <i class="fa-brands fa-github"></i>
                Github
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a style="text-decoration: none;" class="text-dark" href="https://drive.google.com/file/d/1NzkmJJqSLhQRAtrbRk1skIxZRQ3fUc6E/view?usp=sharing"
                target="_blank" role="button">
                <i class="fa-brands fa-google-drive"></i>
                Meu Curriculo
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a style="text-decoration: none;" class="text-dark" href="https://drive.google.com/drive/folders/1dS9kvHSTh2Gn5pBhFqPRcuvYMxf4cRnj?usp=sharing"
                target="_blank" role="button">
                <i class="fa-solid fa-file-pdf"></i>
                Meus Certificados
              </a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>