<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container aboutMeHelper mt-4" *ngIf="!isLoading">
    <h5 class="text-white">Quem Sou</h5>
    <P class="text-white">
        Meu nome é lucas tenho {{ idade }} anos e estou em busca de experiência com 
        desenvolvimento Web Fullstack e Game Development ja que amo essas areas.
        Minha paixão começou quando descobri o jogo Minecraft e aquilo foi algo incrivel 
        para min quando tambem descobri a linguagem que roda por de tras dos panos que foi o Java.
        Era incrivel pensar como uma linguagem de programação conseguia fazer varias animações, seja com particulas
        ou a musica do ambiente. Chegava a fazer desenhos do logo do java nas aulas de arte mesmo não sabendo direito o que era Java.
        Então hoje estou buscando me profissionalizar em Angular, Spring boot, Cypress, Unreal Engine, SQL e Kali Linux(CEH) 
        e futuramento conseguir minhas certificações nessas linguagens de programação.
        Outra área que me interresou muito foi hacking quando começei a assistir Mr.Robot e graças aquele seriado de TV 
        hoje me importo com a segurança e a qualidade do código além de ser algo a mais pelo que meu coração bate...
    </P>
</div>